description = "Pie de pagina de la web"
==
<!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-links">
                        <img src="/assets/img/Logos/footer_logo_marketing.png" alt="">
                        <h4>Agencia de Marketing Digital en Bolivia.</h4>
                        <ul>
                            <li>
                                <i class="bx bx-chevron-right"></i>Calle Gregorio Reynolds 665 Entre Presbitero Medina y Luis Uría de la Oliva Zona Sopocachi.
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>info@marketingdigitalbolivia.com
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>2 2416785 / +591 76732432
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> Lunes a Viernes 09:00 - 17:30
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> (+591) 62532538
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>ENLACES</h4>
                        <ul>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="#">Web Design</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="#">Web Development</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="#">Product Management</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="#">Graphic Design</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>SERVICIOS</h4>
                        <ul>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="#">Marketing Digital</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="#">SEO</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="#">SEM - Marketing Digital</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="#">Marketing Digital Politíco</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="#">Community Manager</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="#">E-marketing</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="#">Diseño de Paginas Web</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="#">Plan de Marketing Digital</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <ul>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="#">Términos y Condiciones</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="#">Política de Privacidad</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="#">Política de Cookies</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Anyar</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/anyar-free-multipurpose-one-page-bootstrap-theme/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader "></div>
    <a href="# " class="back-to-top d-flex align-items-center justify-content-center "><i
      class="bi bi-arrow-up-short "></i></a>